@model IEnumerable<WebApplication1.Models.Category>

@{
    ViewData["Title"] = "Kategorie";
}

<h1>Kategorie</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nową kategorię</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
